html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    #outline: none !important;
}

::-webkit-input-placeholder {
   color: rgba(2, 65, 113, 0.37);
}
:-moz-placeholder { /* Firefox 18- */
   color: rgba(2, 65, 113, 0.37);  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(2, 65, 113, 0.37);  
}
:-ms-input-placeholder {  
   color: rgba(2, 65, 113, 0.37);  
}

body {
width:95%;
margin-left: auto;
margin-right: auto;
}

div.placeholder{
	margin: auto;
	width: 100%;
}

div.display{
    #position:absolute;
    margin-top: 15px;
    left:0;
    right:0;
    #display: none;
    #width: 95%;
}
div.report{
	margin-top: 40px;
	float:left;
}
div.info_msg{
	margin-top: 20px;
	background:#5A83C4;
	text-align: center;
	font-family: Verdana;
	font-size: 15px;
	font-weight: 100;
	padding:5px;
	color: #EDEDED;
}

div.resumen table{
    margin-top: 10px;
    background-color: rgba(86, 204, 240, 0.14);
    border: 1px solid rgba(86, 204, 240, 0.83);;
}
div.resumen td{
    font-family: Helvetica;
    font-size: 10;
    font-weight: 100;
    height: 15px;
}
div.resumen td.columnhead{
    font-family: Helvetica;
    font-size: 10;
    font-weight: 400;
    width: 100px;
    text-align: right;
}
div.resumen thead td{
    font-family: Helvetica;
    font-size: 11;
    font-weight: 500;
    text-align: right;
}

/*CALLOUT FORM*/
div.callout_form{
    -webkit-box-shadow: 3px 3px 10px 3px rgba(11, 22, 67, 0.75);
	-moz-box-shadow: 3px 3px 10px 3px rgba(11, 22, 67, 0.75);
	box-shadow: 3px 3px 10px 3px rgba(11, 22, 67, 0.75);
	border-radius: 1px 1px 1px 1px;
	-moz-border-radius: 1px 1px 1px 1px;
	-webkit-border-radius: 1px 1px 1px 1px;
	border: 0px solid rgb(189, 192, 239);
    padding:15px;;
    width:250px;
    font-family:Helvetica;
    font-weight:100;
    font-size:10px;
    top:121;
    right:37;
    position:absolute;
    #text-transform:uppercase;
    letter-spacing:1px;
    background-color:rgb(216, 235, 255);
    display:none;
    z-index:100;
}
div.loginForm{
    top:48;
    right:0;
}
div.callout_form #textbox{
    width:100%;
    color:#063953;
    font-size:10px;
    font-weight:100;
    letter-spacing:0.5px;
    margin-bottom:5px;
    outline: none;
}
div.callout_form #datetime_textbox{
    width:100%;
    color:#063953;
    font-size:10px;
    font-weight:100;
    letter-spacing:0.5px;
    margin-bottom:5px;
    outline:none;
}
div.callout_form #freetext{
    width:100%;
    color:#063953;
    font-size:10px;
    font-weight:100;
    letter-spacing:0.5px;
    margin-bottom:5px;
    outline: none;
    height: 100px;
}
div.callout_form #dropdownlist{
    margin-bottom: 10px;
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    border: 0 !important;  /*REMOVES BORDER*/
    
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:#f4f4f4;
    font-size:10px;
    font-weight:100;
    padding: 3px 5px 3px 5px;
    width: 100%;
    cursor: pointer;
    margin-top: 2px;
    outline:none;
    
    background: #84c4ea url(../img/dropdown3.png) no-repeat right center;
    background-size: 20px 20px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}
div.callout_form #button{
    width:100%;
    #margin-left:auto;
    #margin-right:auto;
    padding:0px;
    margin-top:10px;
    height:30px;
    #background-color: rgba(6, 14, 49, 0.79);
    background-color: rgb(17,112,215);
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-border:none;
    -moz-border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    #-webkit-box-shadow:1px 1px 3px 1px;
    border: 0px solid transparent;
    font-family:helvetica;
    font-size:10px;
    font-weight:100;
    text-transform:uppercase;
    letter-spacing:1px;  
    color:white;
    cursor: pointer;   
}
div.callout_form #button:hover{
    #background-color: rgb(52, 97, 170);
    background-color: #3461aa;
    #background-color: rgb(12, 76, 145);
}
div.callout {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 35px solid rgba(6, 14, 49, 0.79);
    position:absolute;
    top:-50px;
    left:125px;
}

/*MENU*/
div.menu{
    width:100%;
    height:40px;
    color:white;
    position:relative;
    border-bottom: 3px solid #21294b;
}
div.menu #button_menu{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius: 10 10 2 2;
    -moz-border-radius: 10 10 2 2;
    border-radius: 10 10 2 2;
    height: 30px;
    width:auto;
    min-width: 75px;
    margin-top: 11px;
    float:left;
    text-align:center;
    text-transform:uppercase;
    font-family:helvetica;
    font-weight:100;
    letter-spacing:1px;
    color:white;
    background-color:#4e5ea2;
    border:1 solid black;
    margin-right: -2px;
}
div.menu #button_menu:hover{
    background-color: #3461aa;
}
div.menu #button_menu:focus{
    outline: 0;
    background-color:#3461aa;

}
div.menu #button_login{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius: 10 10 2 2;
    -moz-border-radius: 10 10 2 2;
    border-radius: 10 10 2 2;
    height: 30px;
    width:auto;
    min-width: 75px;
    margin-top: 11px;
    float:right;
    text-align:center;
    text-transform:uppercase;
    font: 12px "Avenir Next Condensed";
    color:white;
    background-color:#4e5ea2;
    border:1 solid black;
    z-index: 100;
}
div.menu #button_login:hover{
    background-color: rgb(52, 97, 170);
}
div.menu #button_login:focus{
    outline: 0;
    background-color:#3461aa;
}
div.menu #user_logged{
    display: block;
    position: absolute;
    max-width: 230;
    max-height: 17;
    margin-right:180px;
    bottom: 2;
    right: 0;
    border: 0 solid transparent;
    font: 13px "Avenir Next Condensed";
    font-weight: 400;
    color: #0a0e5f;
    letter-spacing: 0.1;
    #font-size: 11;
    z-index: -1;
    text-align:right;	
}


/*DATATABLES*/
div.datatables_filter{}
div.datatables_filter label{
    font: 14px "Avenir Next Condensed";
    color: #0a0e5f;
}
div.datatables_filter input{
    #width:100%;
    font-family: helvetica;
    font-size: 10;
    font-weight: 100;
	color: #383838;
}

div.dataTables_length{}
div.dataTables_length label{
    font: 14px "Avenir Next Condensed";
    color: #0a0e5f;
}
div.dataTables_length select{
    border: 1px solid #ccc;
    width: 70px;
    border-radius: 2px;
    overflow: hidden;
    
}

div.dataTables_info{
    font: 12px "Avenir Next Condensed";
    color: #0a0e5f;
    text-indent: 5px;
}

span.filter_column input{
    width:100%;
    font-family: helvetica;
    font-size: 10;
    font-weight: 100;
	color: #383838;
    margin-bottom:5px;
    margin-top:5px;
    text-indent: 2px;
    #-webkit-appearance:none;
    #-moz-appearance:none;
    #appearance:none;
    #border: 0 solid transparent;
    padding: 3px;
}
span.filter_column input:focus{

    outline: 0;
    background-color: #eff4fd;
}

div.login_form_footer{
	text-align: center;
	margin: 10px auto 0px auto;
}

/*GENERIC TAGS*/

form.settings{
	margin-top: 20px;
}

label {
	font-family: Helvetica;
	font-weight: 100;
	font-size:12px;
}

input.btn{
	width:100px;
    #margin-left:auto;
    #margin-right:auto;
    padding:0px;
    margin-top:10px;
    height:20px;
    #background-color: rgba(6, 14, 49, 0.79);
    background-color: rgb(17,112,215);
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-border:none;
    -moz-border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    #-webkit-box-shadow:1px 1px 3px 1px;
    border: 0px solid transparent;
    font-family:helvetica;
    font-size:10px;
    font-weight:100;
    text-transform:uppercase;
    letter-spacing:1px;  
    color:white;
    cursor: pointer;  	
}
input.btn:hover{
	background-color: #3461aa;	
}
input.edit{
   width:100%;
    color:#063953;
    font-size:10px;
    font-weight:100;
    letter-spacing:0.5px;
    margin-bottom:5px;
    outline: none;
}

select.dropdownlist{
    margin-bottom: 10px;
    -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
    -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
    border: 0 !important;  /*REMOVES BORDER*/
  
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color:#f4f4f4;
    font-size:10px;
    font-weight:100;
    padding: 3px 5px 3px 5px;
    width: 200px;
    cursor: pointer;
    margin-top: 2px;
    outline:none;
    
    background: #84c4ea url(../img/dropdown3.png) no-repeat right center;
    background-size: 20px 20px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}

table.grid {
	#box-shadow: 3px 3px 3px #c7c9ce;
	#margin-right: auto;
	#margin-left: auto;
    #overflow-y: scroll;
    #max-height: 600px;
    #display: block;
    #width: 100%;
    font-size: 11px;
    border-spacing: 0px;
    #overflow-x: scroll;
}
th.grid {
	#background-color: #21294b;
	#background-color: #4e5ea2;
    #color: #efefef;
    color: #0a0e5f;
	font-family: helvetica;
    font-size: 11px;
    font-weight:400;
    #padding: 6px 10px 6px 10px;

}
td.grid_oddrow {
	#background-color: #dee5f4;
	font-family: helvetica;
    font-size: 9;
    font-weight: 100;
	#color: #383838;
	#padding-right: 5px;
    text-indent: 6px;
    #min-width: 138px;
}
td.grid_evenrow {
	font-family: helvetica;
    font-size: 9;
    font-weight: 100;
	#color: #383838;
	#padding-right: 5px;
    text-indent: 6px;
}

a {
	font: 12px "Avenir Next Condensed";
	color: #7382f9;
}
a:hover {
	font: 12px "Avenir Next Condensed";
	color: #061edc;
}
a:visited {
	font: 12px "Avenir Next Condensed";
	color: #05a7bd;		
}

a.add {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-family: helvetica;
    font-size: 23px;
    color: #0a0e5f;
    text-decoration: none;
}
a.add:hover{
    color: #69c7e3;
}

a.tab {
    text-decoration: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius: 10 10 2 2;
    -moz-border-radius: 10 10 2 2;
    border-radius: 10 10 2 2;
    max-height: 30px;
    width:auto;
    min-width: 75px;
    margin-top: 11px;
    float:left;
    text-align:center;
    text-transform:uppercase;
    color:white;
    background-color:#4e5ea2;
    border:1 solid black;
    margin-right: -2px;
    padding-top: 6px;
    padding-bottom: 6px;
}
a.tab:hover{
    background-color: #3461aa;
}

h1 {
	color: #E75621;
	/*color: #FF581A;*/
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}
h2 {
	font-family: 'Times New Roman', times-roman, georgia, serif;
	color: #5C5B5E;
	margin: 0;
	font-size: 35px;
	line-height: 35px;
	letter-spacing: -2px;
	font-weight: bold;
}
h3 {
	color: #706D6D;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
}
h4 {
	color: #444;
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	font-size: 12px;
	text-align: justify;
	font-weight: bold;
}

dl {
	color: #706D6D;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
}
dd {
	color: #916D6D;
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	font-size: 12px;
	text-align: justify;
	font-weight: none;
	text-transform: none;
	letter-spacing: 0px;
}
ol {
	font-family: 'times new roman', times, serif;
	color: #916D6D;
	font-size: 13px;
	font-style: italic;
	letter-spacing: 0.6pt;
	word-spacing: -1.2pt;
}
ul {
	font-family: 'times new roman', times, serif;
	color: #916D6D;
	font-size: 13px;
	font-style: italic;
	letter-spacing: 0.6pt;
	word-spacing: -1.2pt;
}